article {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #000000;
    color: #ffdd00;
}














/* (A) DARK BACKGROUND */
body {
    background: #000;
    color: #fff;
  }
  
  /* (B) FLICKER ANIMATION */
  @keyframes flicker {
    from {
      text-shadow:
      0 0 5px #ff0000,0 0 10px #000000,
      0 0 20px #000000, 0 0 40px #ff0000;
    }
    to {
      text-shadow:
      0 0 5px #fff200, 0 0 10px #000000,
      0 0 20px #000000, 0 0 40px #ffee00;
    }
  }
  
  /* (C) ATTACH ANIMATION */
  .flick { animation: flicker 1s ease-in-out infinite alternate; }
























  body {
    background-color:transparent;
  }
  .main {
    display: flex;
    justify-content: center;
      align-items: center;
    width: 100%;
    height: 90px;
  }
  .file-sight {
    display: flex;
    justify-content: center;
      align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 62px;
    background-color:transparent;
  }
  
  #file-sight-movepath {
      animation-delay: 2s;
      animation: path 1.5s infinite ease-in;
  }
  
  @keyframes path {
      20% {
          d:path('M6,18.154c12.285,0.178,29.812,8.875,29.812,8.875S49.875,11.164,60.875,9.748');
      }
      50% {
          d:path('M6,18.154c12.285,0.178,29.812,8.875,29.812,8.875S43.458,6.496,51.041,3.081');
      }
      55% {
          d:path('M35.812,0.553v26.112c0,0-20.188-8.511-29.812-8.875');
      }
      65% {
          d:path('M6,18.154c12.285,0.178,28.458,8.011,28.458,8.011S27.625,5.413,20.375,3.081');
      }
      80% {
          d:path('M6,18.154c10.626,0,27.029,7.579,27.029,7.579S24.708,12.416,11.958,9.748');
      }
      90% {
          d:path('M6,18.154c14.229,0,29.812,8.511,29.812,8.511');
      }
      100% {
          d:path('M6,18.154c12.285,0.178,29.812,8.875,29.812,8.875s17.938-8.875,29.312-8.867');
      }
  }