<!-- Section-->

<section class="py-5 bg-dark">
    <h1 class="text-center fw-bold">A v a i l a b l e</h1>
    <div class="container px-4 px-lg-5 mt-5 bg-transparent">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center bg-transparent">
            <div class="col mb-5 bg-transparent color grow"
                *ngFor="let product of products | filter:searchItem:'title'">
                <div class="card h-100 p-2 bg-transparent">
                    <!-- Product image-->
                    <img height="300px" width="0px" class="card-img-top bg-transparent" [src]="product.image"
                        [alt]="product.title" />
                    <!-- Product details-->
                    <div class="card-body p-4 bg-transparent">
                        <div class="text-center bg-transparent text-white">
                            <!-- Product name-->
                            <h5 class="fw-bolder text-white bg-transparent">{{ product.title.slice(0,17)}}</h5>
                            <h6 class="text-white bg-transparent">Genere : {{product.category}}</h6>
                            <!-- Product price-->
                            ${{product.price}}
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">

                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="bg-transparent"
                                    routerLink="/products/view-product/{{product.id}}">
                                    <h3 class="hover-2 text-white bg-transparent">More..</h3>
                                </a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>