<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
	integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
	
<main>
	<div class="book">
		<div class="book-cover">
			<div>
				<h1>Book<br> Shelf </h1>
				<div class="separator text-black"></div>
				<h2 class="text-black">by Jeevan</h2>
			</div>
		</div>
		<div class="book-content">
			<h3 class="text-center text-black fw-bolder font-monospace">Book Shelf </h3>

			<p class="fw-bold font-monospace fs-4">Project Details:</p>
			<p class="fs-5">Created a Book Store (Book Shelf)Website using MongoDB, ExpressJS, Angular, and NodeJS. I
				used Express
				and NodeJS for Web API and MongoDB for the database. Here user can View different books availabe and you
				can also searh books with different
				genere and he can add it to Favorites , later then he can also add to cart if he intresterd in
				purchasing it and if he didnt like it he can delete it or empty cart.A small discription about book and
				rating with price also provided
			</p>
			<P class="fw-bolder font-monospace fs-4"> Coding Technologies:</P>
			<P class="font-monospace fs-5">Backend API: Express, Nodejs
				Database: MongoDB
				Frontend: Angular</P>
			<P class="fw-bolder fs-4">Follow Me:</P>
			<p class="text-black fw-bold text-center fa-3x ">
				<!-- Facebook -->
				<a href="https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwiZ877ThqL9AhUnk2YCHRPGAesYABABGgJzbQ&ohost=www.google.com&cid=CAESaOD2v0J1S_hWqkVsXkq2iTzMww1Ga38_MXVHcDNebg48yx2Nxu4w7Zbz2quB7F9bwzC4sI05XKLsfDYbZhxq2rVO5iRrjt-QShpxlaTO57Mi37yLSuV-mwpqRqloxkocIelwcyAizXSk&sig=AOD64_2nkXy7hbxfvqgq5rL0M5qYtM9c0A&adurl&ved=2ahUKEwjY0rfThqL9AhUT4TgGHfCjDjIQqyQoAHoECAkQBQ"
					class="fab fa-facebook-f text-black fa-3x"></a>&nbsp;&nbsp;&nbsp;&nbsp;

				<!-- Twitter -->
				<a href="https://about.twitter.com/"
					class="text-black fab fa-twitter fa-3x"></a>&nbsp;&nbsp;&nbsp;&nbsp;

				<!-- Google -->

				<!-- Instagram -->
				<a href="https://www.instagram.com/"
					class="text-black fab fa-instagram fa-3x"></a>&nbsp;&nbsp;&nbsp;&nbsp;

				<!-- Linkedin -->
				<a href="https://in.linkedin.com/"
					class="text-black fab fa-linkedin-in fa-3x"></a>&nbsp;&nbsp;&nbsp;&nbsp;

				<!-- Pinterest -->

				<!-- Vkontakte -->

				<!-- Stack overflow -->

				<!-- Youtube -->

				<!-- Slack -->

				<!-- Github -->
				<a href="https://desktop.github.com/"
					class="text-black fab fa-github fa-3x"></a>&nbsp;&nbsp;&nbsp;&nbsp;

				<!-- Dribbble -->


				<!-- Whatsapp -->
				<a href="https://www.whatsapp.com/" class="fab fa-whatsapp text-black fa-3x"></a>
			</p>
			<br>
			<P class="font-monospace ">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;©2023-20230
				BOOK SHELF.INC<BR> All Rights Reserved. Use of this site is subject to certain
				Terms Of Use. Products prices may vary from those displayed. Products shown as available are normally
				stocked but inventory levels cannot be guaranteed For screen reader problems with this website, please
				call XXXXXXXXXX or text XXXXX</P>
		</div>
	</div>
</main>