<div class="">
    <div class="bg-dark mt-5 ">
        <div class="container ">
            <div class="book ">
                <div class="front ">
                    <div class="cover ">

                        <p class="num-down">N</p>
                        <p class="num-down">A</p>
                        <p class="num-down">E</p>
                        <p class="num-down">M</p>
                        <h1 class="text-center">Book Shelf</h1>
                        <hr>
                        <hr>
                        <hr>
                        <hr>
                        <hr>
                        <hr>
                        <hr>
                        <hr>
                        <hr>
                        <hr>
                        <hr>
                        <hr>
                        <hr><br><br>
                        <button routerLink="/products/all-products">Books > ></button>
                    </div>
                </div>
                <div class="left-side ">
                    <h2>
                        <span class="fw-bold">Jeevan</span>
                        <span>2023</span>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>