<!--empty wishlist-->
<div *ngIf="wishlistStatusMsg" id="wrapper" class="bg-dark">
    <a routerLink="/products/all-products" class="my-super-cool-btn">
        <div class="dots-container">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
        <span>&nbsp;&nbsp;ADD<br>BOOKS</span>
    </a>
</div>

<!-- wishlist-->

<section *ngIf="!wishlistStatusMsg" class="py-5 bg-transparent" style="margin-top: 100px;">
    <div class="container px-4 px-lg-5 mt-5 bg-transparent">
        <div
            class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center bg-transparent">
            <div class="col mb-5 bg-transparent" *ngFor="let product of wishlist">
                <div class="shadow card h-100 p-3 bg-transparent">
                    <!-- Product image-->
                    <img height="350px" class="card-img-top bg-transparent" [src]="product.image" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4 bg-transparent">
                        <div class="text-center bg-transparent">
                            <!-- Product name-->
                            <h5 class="fw-bolder bg-transparent text-white"> {{product.title.slice(0,20)}}</h5>
                            <!-- Product price-->
                            <div class="text-white">${{product.price}}</div >
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer  pt-0 border-top-0 bg-transparent">
                        <div>
                            <a (click)="removeItem(product.id)" style="float: left;"
                                class="text-danger btn bg-transparent"><i
                                    class="fa-solid fa-trash  fa-2x bg-transparent"></i><span></span>
                                <span></span>
                                <span></span>
                                <span></span></a>
                            <a (click)="addToCart(product)" style="float: right;"
                                class="btn text-info mt-auto bg-transparent"><i
                                    class="fa-solid fa-cart-plus fa-shake fa-2x bg-transparent"></i><span></span>
                                <span></span>
                                <span></span>
                                <span></span></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>